<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GamerCaseApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEB2AD3829954DEF008F4E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB2AD5129954DF0008F4E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB2AD5B29954DF0008F4E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
